div {
    color: #333;
    background-color: #ffff;
}

div h1 {
    font-family: "-apple-system", "BlinkMacSystemFont", sans-serif;
    font-size: 30px;
    font-weight: bolds;
}

.login {
	margin: 0 auto;
}

.signup{
	margin: 0 auto;
}

h1, h2, h3 {
    font-family: "-apple-system", "BlinkMacSystemFont", sans-serif;
}

.header {
    color: #ffff;
    background-color: #b3b3b3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 30px;
}

.header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header ul li {
    margin-right: 15px;
}

.header ul li:last-child {
    margin-right: 0;
}

.header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header nav p {
    margin: 0;
    margin-bottom: 5px;
}

.header nav a {
    text-decoration: none;
    margin-bottom: 5px;
}

article {
    border: 3px solid;
    border-color: #b3b3b3;
    border-radius: 8px;
    margin: 10px 10px;
    padding: 10px 10px;
}

.time {
    font-size: 12px;
}

.footer {
    color: #ffff;
    background-color: #b3b3b3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 30px;
}

.footer p {
    margin: 0;
}

.footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    margin-right: 15px;
}

.footer ul li:last-child {
    margin-right: 0;
}