{% extends "base.html" %}
{% block title %}
    <title>新規投稿</title>
{% endblock %}
{% block content %}
    <h1>新規作成</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="title">タイトル</label>
        <input type="text" name="title">
        <label for="body">内容</label>
        <input type="text" name="body">
        <label for="file">写真</label>
        <input type="file" name="file">
        <input class="btn btn-primary" type="submit" value="投稿">
    </form>
{% endblock %}