{% extends "base.html" %}
{% block title %}
    <title>{{ post.title }}の削除</title>
{% endblock %}
{% block content %}
    <form method="POST">
        <label for="title">タイトル</label>
        <p>{{ post.title }}</p>
        <label for="body">内容</label>
        <p>{{ post.body }}</p>
        {% if post.image is not none %}
            <!-- imageには画像ファイルのフルパスを格納しているため、ファイル名のみを渡している -->
            <img src="{{ url_for('uploaded_file', filename=post.image.rsplit('\\', 1)[1])}}">
        {% endif %}
        <label for="created_at">作成日時</label>
        <p>{{ post.created_at }}</p>
        <label for="updated_at">更新日時</label>
        <p>{{ post.updated_at }}</p>
        <h3>この投稿を削除しますか？</h3>
        <input type="submit" value="はい">
        <a href="/" role="button">いいえ</a>
    </form>
{% endblock %}