{% extends "base.html" %}

{% block title %}
    <title>{{ post.title }}</title>
{% endblock %}

{% block content %}
    <h1>投稿詳細</h1>
    <article>
        <h2>{{ post.title }}</h2>
        <p>{{ post.body }}</p>
        <p>作成日時：{{ post.created_at }}</p>
        <p>更新日時：{{ post.updated_at }}</p>
        {% if check_favorite %}
            <p>お気に入り：<a href="/{{post.post_id}}/favorite">★</a></p>
        {% else %}
            <p>お気に入り：<a href="/{{post.post_id}}/favorite">☆</a></p>
        {% endif %}
    </article>
{% endblock %}