{% extends "base.html" %}
{% block title %}
<title>ログイン</title>
{% endblock %}
{% block content %}
<form method="POST" class="text-center card">
    <div class="card-body login">
        <h1 class="card-title">ログイン</h1>
        <p class="card-text">
            <input type="text" name="user_name" class="form-control" placeholder="ユーザー名" required autofocus>
        </p>
        <p class="card-text">
            <input type="password" name="password" class="form-control" placeholder="パスワード" required>
        </p>
        {% if text != None %}
        <p class="alert alert-danger">{{ text }}</p>
        {% endif %}
        <p class="card-text">
            <input type="submit" class="btn btn-primary" value="ログイン">
        </p>
        <h6>ユーザー登録がまだの方は<a href="{{url_for('signup')}}">こちら</a></h6>
    </div>
</form>
{% endblock %}