{% extends "base.html" %}

{% block title %}
<title>{{ post.title }}</title>
{% endblock %}

{% block content %}
<h1>投稿詳細</h1>
<div class="card-body">
    <h2 class="card-title">{{ post.title }}</h2>
    <!--
            ユーザー情報は一旦非表示
            投稿を作成したユーザーの情報を出力
        <p class="card-text">ユーザーID：{{ user.user_id }}</p>
        <p class="card-text">ユーザー名：{{ user.user_name }}</p>
        {% if check_follow %}
            <p>フォロー：<a href="{{url_for('follow', user_id=user.user_id, post_id=post.post_id, title=post.title)}}" class="btn btn-outline-primary">フォロー中</a></p>
        {% else %}
            <p>フォロー：<a href="{{url_for('follow', user_id=user.user_id, post_id=post.post_id, title=post.title)}}" class="btn btn-primary">フォローする</a></p>
        {% endif %}
        -->
    {% if post.image is not none %}
    <!-- ※windowsの場合※ 画像のURLを取得するために、rsplitメソッドを使用してファイル名を取得
            <img src="{{ url_for('uploaded_file', filename=post.image.rsplit('\\', 1)[1])}}" class="card-img-top">
            -->
    <!-- ※macの場合※ 画像のURLを取得するために、rsplitメソッドを使用してファイル名を取得 -->
    <img src="{{ url_for('uploaded_file', filename=post.image.rsplit('/', 1)[1])}}" class="card-img-top">
    {% endif %}
    <p class="card-text">
        概要<br>
        {% if post.body is none %}
        なし
        {% else %}
        {{ post.body }}
        {% endif %}
    </p>
    <p class="card-text">
        購入の動機<br>
        {% if post.motive is none %}
        なし
        {% else %}
        {{ post.motive }}
        {% endif %}
    </p>
    <p class="card-text">
        よかった点<br>
        {% if post.merit is none %}
        なし
        {% else %}
        {{ post.merit }}
        {% endif %}
    </p>
    <p class="card-text">
        微妙な点<br>
        {% if post.demerit is none %}
        なし
        {% else %}
        {{ post.demerit }}
        {% endif %}
    </p>
    <p>
        <small>作成日時：{{ post.created_at }}</small><br>
        <small>更新日時：{{ post.updated_at }}</small>
    </p>
    {% if check_favorite %}
    <p class="card-text">お気に入り：<a href="/{{post.post_id}}/favorite">★</a></p>
    {% else %}
    <p class="card-text">お気に入り：<a href="/{{post.post_id}}/favorite">☆</a></p>
    {% endif %}
    {% if check_favorite %}
    <p class="card-text">カテゴリー：{{ post.category }}</p>
    {% endif %}
</div>
{% endblock %}